__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
*.pyc
**/*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.idea/
.vscode/

*.log
*.sqlite3

.DS_Store

# Frontend node_modules & dist
node_modules/
frontend/node_modules/
frontend/dist/

# Alembic
alembic/versions/__pycache__/
