__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

.env
.env.*

*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.idea/
.vscode/

*.log
*.sqlite3

.DS_Store

# Alembic
alembic/versions/__pycache__/
